ul {
    &.breadcrumbs {
        list-style: none;
        overflow: hidden;
        font: 18px;
        font-weight: 600;
        padding: 0;
        li {
            color: rgb(0, 188, 212);
            display: inline;
            float: left;
            &:before {
                content: '\f054';
                color: rgb(0, 188, 212);
                display: inline-block;
                font-family: 'FontAwesome';
                font-weight: normal;
                font-style: normal;
                font-size: 16px;
                margin: 0 10px 0 8px;
                -webkit-font-smoothing: antialiased
            }
            &:first-child:before {
                display: none;
            }
            a {
                color: rgb(0, 188, 212);
                text-decoration: none;
                &:hover {
                    color: rgba(0, 188, 212, 0.7);
                }
            }
            &:last-child {
                a {
                    color: rgb(12, 164, 183);
                    &:hover {
                        color: rgba(12, 164, 183, 0.7);
                    }
                }
            }
        }
    }
}
